//-----------Category start---------

body{
    background-color: #F6F6F6;

}
#Category2{
    position: relative;
    z-index: 1;
    margin-top: -435PX;
    padding: 50px 0;
    .category-item{
        border-radius: 15px;
        background: #fff;
  
     .up{
         padding: 40px;
        img{
            width: 50px;
        }
        h4{
            padding: 20px 0;
            color: $myColor;
            font-weight: 700;
        }
        span{
            color: #000;
            font-size: 1.5rem;
            font-weight: 500;
        }
        .btna{
            padding: 30px 0;
            transition: .3s ease-in-out ;
            &:hover{
                transform: translateY(-5px);
                a{
                    color: #fff;
                background: #4C4A4A;

                }
            }
           a{
            text-decoration: none;
            background: $myColor1;
            color: #000;
            border-radius: 50px;
            font-weight: 700;
            padding: 12px 25px;
            box-shadow: 0 0 10px 0 #ccc;
           }
        }
     }
            .content-list{
            background: $myColor;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            &#middle{
                background: #A5215E;
                .text{
                    span{
                        color: #ED5586;
                    }
                }
            }
            ul{
                padding: 40px;
                li{
                    .icon{
                        .text{
                            padding-left: 30px;
                            span{
                                color: #B32B66;
                                font-size: 1.1rem;
                            }
                            h6{
                                color: #fff;
                            }
                        }
                      .img{
                          padding: 5px;
                        i{
                            color: #fff;
                            font-size: 2.5rem;
                        }
                      }
                    }
                }
            }
        }   
    }
    .anima{
        position: relative;
        top: 80%;
        left: 50%;
        animation: myAni 2s ease-in-out infinite ;
        span{
          position: absolute;
         letter-spacing: 1px;
         top: -10px;
         font-size: 16px;
         left: 0;
         transform: rotate(
        -90deg);
        color: $myColor;
        }
       a{
           svg{
               fill:$myColor;
           }
       }
    }
  
}
//-----------Category end-----------

@keyframes myAni{
    0%{
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-20px);
    }100%{
        transform: translateY(0px);
    }
    
}