$myColor:#EE5586;
$myColor1:#FDD700;
$myColor2:#27304B;
@import '_heading';
@import '_home';
@import '_category';
@import '_gaming';
@import '_protect';
@import '_footer';
@import '_gaming';
@import '_home2';
@import '_category2';
@import '_gaming2';
@import '_protect2';
@import '_table';
@import '_accordion';
@import '_home3';
@import '_category3';
@import '_gaming3';
@import '_Map3';
@import '_input';  
@import '_scroll'; 
@import '_chat-mini';
@import '_loading';
@import '_responsive';









